*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#swiggy{
    width: 100%;
    height: 800px;
    background-color: rgba(255, 0, 0, 0.763);
    z-index: -1;
    object-fit: cover;
}
.download-banner{
    width: 100%;
    height: 300px;
}