.cartlist {
  display:grid;
  grid-auto-flow: column;     
  grid-template-rows: repeat(2, 1fr); 
  gap: 20px;

  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
   overflow-x: auto;          
  overflow-y: hidden;         
  scrollbar-width: none;     
  cursor: pointer;
}

#cart {
  
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  
  
  transition: transform 0.3s ease;
  width: 120px;
  
}
.cart-img {
  width: 100%;
  height: 100px;
  /* object-fit: cover; */
}

.food-name {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
#order>h3{
  margin-top: 80px;
}
