#main {
  display: flex;
  justify-content: center; /* center the maincart-wrapper between images */
  align-items: center;
  height: 100vh;
  padding: 20px;
  width: 100%;
  position: relative;
  z-index: 2;
}

#img1,
#img2 {
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
}

#img1 {
  left: 0;
}

#img2 {
  right: 0;
}

#img1 img,
#img2 img {
  width: 220px;
  height: 400px;
}

#maincart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: calc(100% - 480px); /* leave space for 2 images (220px each + gap) */
  width: 100%;
}

#maincart {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
  margin-top: 220px;
}

#main1 p {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin: 0;
  line-height: 1.1;
  
}

#main2 {
  display: flex;
  gap: 12px;
  width: 100%;
}

#search1,
#search2 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border: 2px solid #ff5200;
  border-radius: 8px;
  background: white;
  flex: 1;
}

#search1 input,
#search2 input {
  border: none;
  outline: none;
  font-size: 16px;
  flex: 1;
}

#cart1 {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.cart-item {
  width: 300px;
  height: 350px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  cursor: pointer;
  position: sticky;
 
}

#firstcart{
    margin-top: 70px;
}
#mainfooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: white;
  z-index: 999;
}
